{% extends "base.html" %}

{% block title %}Bike Types - Bike World{% endblock %}

{% block content %}
<h1 class="mb-4">Bike Types</h1>
<p class="lead">Explore different types of bikes and find the one that suits your needs!</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for bike in bikes %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='images/' + bike.image) }}" class="card-img-top" alt="{{ bike.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ bike.name }}</h5>
                <p class="card-text">{{ bike.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
